@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", sans-serif;
}

body {
    padding: auto;
    margin: 50px;

}
.display {
    width: 100%;
} 

.total, .valor {
    width: 100%;
    min-height: 75px;
    background-color: rgb(225, 191, 233);
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 30px;
    word-break: break-all;
}

.total {
    background-color: rgb(215, 193, 235);
}

#calculadora {
    width: 300px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #000;
    display: flex; 
    flex-wrap: wrap;
    user-select: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px #000000be;
    background-color: rgb(215, 193, 235);
    overflow: hidden;
    
}

.bloco {
    font-size: 25px;
    display: flex;
    justify-content: center;
    /* align-content: center;
    flex-wrap: wrap; */
    align-items: center;
    width: 25%;
    height: 75px;
    border: 1px solid #000;
    background-color: blueviolet;
    transition: all 0.3s;
    border-radius: 4px;
    margin: 0;

}

.bloco.tamanho2 {
    width: 50%;
}

.bloco:hover {
    background-color: rgb(173, 139, 204);
}