@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", sans-serif;
}

h1 {
    text-align: center;
}

.display {
    width: 100%;
} 

.total, .valor {
    width: 100%;
    min-height: 75px;
    background-color: rgb(215, 215, 241);
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 30px;
    word-break: break-all;
}

.total {
    background-color: rgb(198, 180, 214);
}

#calculadora {
    width: 400px;
    margin: 0 auto;
    border: 1px solid #000;
    display: flex; 
    flex-wrap: wrap;
    user-select: none;
}

.bloco {
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    /* align-content: center;
    flex-wrap: wrap; */
    align-items: center;
    width: 25%;
    height: 75px;
    border: 1px solid #000;
    background-color: blueviolet;
    transition: all 0.3s;

}

.bloco.tamanho2 {
    width: 50%;
}

.bloco:hover {
    background-color: rgb(173, 139, 204);
}